h1{
    color: red 
}
body{
    background-color: #313131;
    text-align: centers;
}
.heading{
    background-color: black;
    border: 2px solid #000000;
    margin: 30px;
    border-radius: 50px;
    text-align:center
}
.flamingo{
    background-color: darkorange;
    border: 2px solid #000000 ;
    border-radius: 50px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: left;
}
.how{
    text-align: left;
}
.elephant{
   border: 2px solid #000000;
   border-radius: 50px;
   padding: 30px;
   margin: 30px;
   background-color: deeppink;
   display: flex;
   justify-content: left;
}
.frog{
    background-color: red;
    border: 2px solid #000000;
    padding: 30px;
    border-radius: 50px;
    margin: 30px;
    display: flex;
    justify-content: left;
}
.birds{
    border: 2px solid #000000;
    background-color: aqua;
    border-radius: 50px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: left;
}